.pick-and-feed {
    background: $color-pick-main;
    padding: 40px 0 180px;
    @media (max-width: 1220px) {
        padding-bottom: 30px;
    }
    @include media-tablet {
        padding: 30px 0 46px;
    }
}

.help {
    color: $color-text;
    margin-bottom: 10px;
    line-height: 130%;
    @media (max-width: 1220px) {
        padding-right: 105px;
        line-height: 135%;
        margin-bottom: 28px;
    }
    @include media-tablet {
        font-size: 2.4rem;
        padding-right: 0;
        line-height: 120%;
        margin-bottom: 20px;
    }
}

.help__description {
    color: $color-text;
    margin-bottom: 46px;
    font-weight: 500;
    line-height: 135%;
    @include media-tablet {
        margin-bottom: 33px;
    }
}

.information {
    display: block;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 130%;
    color: $color-orange;
    text-decoration: none;
    cursor: pointer;
    @media (max-width: 1220px) {
        margin-bottom: 40px;
    }
    @include media-tablet {
        margin-bottom: 30px;
    }
}

.pick-and-feed__title {
    color: $color-orange;
    text-align: center;
    margin-bottom: 27px;
    margin-left: -9px;
    @media (max-width: 1220px) {
        margin-left: -12px;
        margin-bottom: 13px;
    }
    @include media-tablet {
        margin-left: -2px;
        margin-bottom: 23px;
    }
}

.pick-and-feed__big-text {
    margin-bottom: 61px;
    align-self: flex-start;
    @media (max-width: 1220px) {
        margin-left: -18px;
        margin-right: -21px;
    }
    @include media-tablet {
        align-self: center;
        margin: 0 0 48px;
        text-align: center;
        line-height: 120%;
    }
}

.diet {
    transform: translate(-8%, 33%);
}

.diet__content {
    @include flex();
    margin-bottom: 53px;
    @include media-tablet {
        margin-bottom: 44px;
    }
}

.count {
    font-weight: 500;
    font-size: 7.2rem;
    line-height: 80%;
    text-align: center;
    color: $color-black;
    margin-bottom: 11px;
    @include media-tablet {
        margin-bottom: 9px;
    }
}

.diet__text {
    text-align: center;
}

.amount__title {
    margin-bottom: 18px;
    color: $color-black;
    align-self: flex-start;
    @include media-desktopsmall {
        margin-bottom: 20px;
    }
    @include media-tablet {
        margin-left: 10px;
        margin-bottom: 10px;

    }
}

.progress__bar {
    @include flex($justify: space-between);
    box-sizing: border-box;
    position: relative;
    padding: 12px 30px 13px 26px;
    background-color: $color-amount-bar;
    border-radius: 2px;
    z-index: 10;
    margin-bottom: 12px;
    width: 100%;
    @include media-desktopsmall {
        padding: 12px 9px 13px 11px;
    }
    @include media-tablet {
        padding: 12px 35px 13px 35px;
    }
}

.progress-bar__list {
    @include flex($justify: space-between);
    margin: 0;
    padding-left: 0;
    background: $color-amount-count;
    width: 100%;
    height: 2px;
}
.big-dot {
    @include flex();
    width: 50px;
    height: 50px;
    &:first-child {
        margin-left: -20px;
        @include media-desktopsmall {
            display: none;
        }
    }
    &:last-child {
        margin-right: -20px;
    }
    &:nth-child(2) {
        @include media-desktopsmall {
            margin-left: -20px;
        }
    }
    &:nth-child(-n+3) {
        @include media-tablet {
            display: none;
        }
    }
    &:nth-child(4) {
        @include media-tablet {
            margin-left: -20px;
        }
    }
}

.count__dot {
    @include flex();
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-yellow;
    border: none;
    z-index: 10;
}

.count__dot:checked:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 1.5px solid $color-orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation-name: fadeInSmall;
    animation-duration: 200ms;
}

@keyframes fadeInSmall {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}

.count__dot:checked:after {
    content: '';
    position: absolute;
    background: transparent;
    border: 1.5px solid $color-orange;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation-name: fadeInBig;
    animation-duration: 230ms;
}

@keyframes fadeInBig {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

.sum {
    @include flex($justify: flex-start);
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 140%;
    color: $color-black-blue;
    &.active {
        color: $color-orange;
    }
    &:first-child {
        @include media-desktopsmall {
            display: none;
        }
    }
    &:nth-child(-n+3) {
        @include media-tablet {
            display: none;
        }
    }
}

.amount {
    @include grid(1fr 1fr 1fr 1fr 1fr 1fr 1fr .29fr);
    box-sizing: border-box;
    padding-right: 26px;
    margin-bottom: 50px;
    width: 100%;
    @include media-desktopsmall {
        @include grid(1fr 1fr 1fr 1fr 1fr 1fr .29fr);
        padding-right: 0;
        margin-right: -12px;
        width: calc(100% + 12px);
    }
    @include media-tablet {
        @include grid(1fr 1fr 1fr 1fr .29fr);
        margin-right: 0;
        width: 100%;
        padding: 0 20px 0 16px;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input__amount {
    width: 268px;
    position: relative;
    @include media-tablet {
        width: 180px;
    }
}

.amount-icon {
    position: absolute;
    top: 17px;
    right: 10px;
    filter: invert(61%) sepia(8%) saturate(145%) hue-rotate(164deg) brightness(95%) contrast(92%);
    @include media-tablet {
        top: 12px;
    }
}

.another-amount {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border: 1px solid $color-another;
    background: transparent;
    border-radius: 2px;
    padding: 17px 9px;
    margin-bottom: 26px;
    &:invalid {
        color: $color-mistake;
        border: 1px solid $color-mistake;
        & ~ .amount-icon {
            filter: invert(21%) sepia(83%) saturate(3041%) hue-rotate(353deg) brightness(84%) contrast(97%);
        }
    }
    &:active {
        color: $color-active;
        border: 1px solid $color-active;
    }
    @include media-tablet {
        padding: 11px 6px;
        margin-bottom: 31px;
    }
}

.amount-radio {
    margin-bottom: 28px;
    margin-left: -10px;
    align-items: center;
    @include media-desktopsmall {
        margin-left: -17px;
    }
}

#once {
    margin-left: 45px;
}

#monthly,
#once {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $color-orange;
    margin-right: 5px;
    &:checked {
        border: none;
        background-color: $color-active;
        margin-right: 5px;
    }
}

.share {
    margin-top: 30px;
    text-align: center;
}