.pick-and-feed {
    background: $color-pick-main;
    padding: 40px 0 180px;
}

.help {
    color: $color-text;
    margin-bottom: 10px;
    line-height: 130%;
}

.help__description {
    color: $color-text;
    margin-bottom: 46px;
    font-weight: 500;
    line-height: 135%;

}

.information {
    display: block;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 130%;
    color: $color-orange;
    text-decoration: none;
    cursor: pointer;
}

.pick-and-feed__title {
    color: $color-orange;
    text-align: center;
    margin-bottom: 27px;
    margin-left: -9px;
}

.pick-and-feed__big-text {
    margin-bottom: 61px;
}

.diet {
    transform: translate(-8%, 33%);
}

.diet__content {
    @include flex();
    margin-bottom: 53px;
}

.count {
    font-weight: 500;
    font-size: 7.2rem;
    line-height: 80%;
    text-align: center;
    color: $color-black;
    margin-bottom: 11px;
}

.diet__text {
    text-align: center;
}

.amount__title {
    margin-bottom: 18px;
    color: $color-black;
}

.progress__bar {
    @include flex($justify: space-between);
    position: relative;
    padding: 12px 30px 13px 26px;
    background-color: $color-amount-bar;
    border-radius: 2px;
    z-index: 10;
    margin-bottom: 12px;
}

.progress-bar__list {
    @include flex($justify: space-between);
    margin: 0;
    padding-left: 0;
    background: $color-amount-count;
    width: 100%;
    height: 2px;
}

.count__dot {
    @include flex();
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-yellow;
    border: none;
    z-index: 10;
}

.count__dot:checked:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 1.5px solid $color-orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation-name: fadeInSmall;
    animation-duration: 200ms;
}

@keyframes fadeInSmall {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 20px;
        height: 20px;
    }
}

.count__dot:checked:after {
    content: '';
    position: absolute;
    background: transparent;
    border: 1.5px solid $color-orange;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation-name: fadeInBig;
    animation-duration: 230ms;
}

@keyframes fadeInBig {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 40px;
        height: 40px;
    }
}

.sum {
    @include flex($justify: flex-start);
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 140%;
    color: $color-black-blue;
    &.active {
        color: $color-orange;
    }
}


.amount {
    @include grid(1fr 1fr 1fr 1fr 1fr 1fr 1fr .29fr);
    padding-right: 25px;
    margin-bottom: 50px;
}

.amount__wrapper {
    @include flex();
    flex-direction: column;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input__amount {
    width: 268px;
    position: relative;
}

.amount-icon {
    position: absolute;
    top: 17px;
    right: 10px;
    filter: invert(61%) sepia(8%) saturate(145%) hue-rotate(164deg) brightness(95%) contrast(92%);
}

.another-amount {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 54px;
    border: 1px solid $color-another;
    background: transparent;
    border-radius: 2px;
    padding: 16px 9px;
    margin-bottom: 26px;
    &:invalid {
        color: $color-mistake;
        border: 1px solid $color-mistake;
        & ~ .amount-icon {
            filter: invert(21%) sepia(83%) saturate(3041%) hue-rotate(353deg) brightness(84%) contrast(97%);
        }
    }
    &:active {
        color: $color-active;
        border: 1px solid $color-active;
    }
}

.amount-radio {
    margin-bottom: 28px;
    margin-left: -10px;
    align-items: center;
}

#once {
    margin-left: 45px;
}

#monthly,
#once {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $color-orange;
    margin-right: 5px;
    &:checked {
        border: none;
        background-color: $color-active;
        margin-right: 5px;
    }
}

.share {
    margin-top: 30px;
    text-align: center;
}