.button {
    @include button();
    text-transform: uppercase;
    background: #F9804B;
    background-image: $color-btn-default;
    font-weight: 500;
    padding: 16px 0;
    color: $color-text;
    @extend %transition;
    &:hover,
    &:focus {
        background: $color-btn-hover-active;
    }
    &:active {
        background: $color-active;
    }
    &:disabled {
        background: $color-disable;
    }
}

.watch-online__btn {
    margin-top: 60px;
    @include media-desktopsmall {
        margin-top: 42px;
    }
}

.favorite {
    background-color: $color-orange;
}

.feedback,
.button__donate {
    border-radius: 5px;
}

.submit {
    width: 129px;
    height: 42px;
    background: $color-testimonials-submit;
    border: 1px solid $color-black-blue;
    color: $color-black;
    border-radius: 5px;
    &:active {
        color: $color-active;
        border: 1px solid $color-active;
    }
}

.feed {
    transform: translateX(145%);
}

.button__donate {
    margin-bottom: 44px;
}