.button {
    @include button();
    text-transform: uppercase;
    background: #F9804B;
    background-image: $color-btn-default;
    font-weight: 500;
    padding: 16px 0;
    color: $color-text;
    @extend %transition;
    &:hover,
    &:focus {
        background: $color-btn-hover-active;
    }
    &:active {
        background: $color-active;
    }
    &:disabled {
        background: $color-disable;
    }
}

.watch-online__btn {
    margin-top: 60px;
    @include media-desktopsmall {
        margin-top: 42px;
    }
    @include media-tablet {
        margin-top: -7.5px;
        transform: translateX(-109.5%);
    }
    @media (max-width: 600px) {
        display: none;
    }

}

.watch-online__double {
    display: none;
    @media (max-width: 600px)  {
        display: block;
        margin-bottom: 30px;
    }
}

.favorite {
    background-color: $color-orange;
}

.feedback,
.button__donate {
    border-radius: 5px;
}

.feedback {
    @include media-tablet {
        width: 240px;
    }
}

.submit {
    width: 129px;
    height: 42px;
    background: $color-testimonials-submit;
    border: 1px solid $color-black-blue;
    color: $color-black;
    border-radius: 5px;
    &:active {
        color: $color-active;
        border: 1px solid $color-active;
    }
}

.button__donate {
    margin-top: 70px;
    margin-bottom: 45px;
    border-radius: 5px;
    @include media-tablet {
        margin-top: 30px;
        margin-bottom: 0;
    }
}

