%hamburger-line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-text;
    border-radius: 2px;
    width: 100%;
    height: 2px;
}

.hamburger {
    display: none;
    position: relative;
    width: 18px;
    height: 10px;
    cursor: pointer;
    z-index: 10;
    @include media-tablet {
        display: inline-block;
        transition: transform .4s ease;
    }
    &:before {
        @extend %hamburger-line;
        top: 0;
        left: 0;
    }
    &:after {
        @extend %hamburger-line;
        bottom: 0;
        left: 0;
    }
}

.hamburger__line {
    @extend %hamburger-line;
    top: calc( 50% - 1px );
    left: 0;
}

.hamburger.active::before {
    transform: rotate(40deg);
    top: 4px;
    background-color: $color-black;
}

.hamburger.active::after {
    transform: rotate(-40deg);
    bottom: 4px;
    background-color: $color-black;
}

.hamburger__line.active {
    transform: scale(0);
}