.logo__icon {
    position: absolute;
    left: 12%;
    bottom: 12%;
    @extend %transition;
    @include media-tablet {
        height: 17px;
        left: 15%;
        bottom: 20%;
    } 
}

.logo__icon__media {
    left: 6%;
    bottom: 9%;
    height: 13px;
}

.logo__icon__footer {
    @include media-tablet {
        height: 20px;
        bottom: 20%;
    }
    @media (max-width: 412px) {
        bottom: 28%;
        left: 56%;
    }
}

.pets__icon {
    object-fit: contain;
}

.pay__icon {
    background: url("../../../assets/icons/main/how\ it\ works/pay.svg") center/contain no-repeat;
    width: 108px;
    height: 60px;
}

.zoo__icon {
    background: url("../../../assets/icons/main/how\ it\ works/zoo.svg") center/contain no-repeat;
    width: 86px;
    height: 95px;
}

.monkey__icon {
    background: url("../../../assets/icons/main/how\ it\ works/monkey.svg") center/contain no-repeat;
    width: 125px;
    height: 72px;
}

.widjet__arrow {
    background: url("../../../assets/icons/main/how\ it\ works/arrow.svg") center/contain no-repeat;
    width: 70px;
    height: 35px;
    transform: translateY(60px);
    @include media-tablet {
        display: none;
    }
}

// .testimonial__icon {
//     background: url("../../../assets/icons/main/testimonials/user_icon.svg") center/contain no-repeat;
//     width: 37px;
//     height: 37px;
// }

// .oscar {
//     background: url("../../../assets/icons/main/testimonials/oscar.svg") center/contain no-repeat;
// }

// .frederica {
//     background: url("../../../assets/icons/main/testimonials/frederica.svg") center/contain no-repeat;
// }

// .mila,
// .osca {
//     background: url("../../../assets/icons/main/testimonials/mila.svg") center/contain no-repeat;
// }

