.logo__icon {
    position: absolute;
    left: 12%;
    bottom: 12%;
    @extend %transition;
    @include media-tablet {
        height: 17px;
        left: 14%;
        bottom: 20%;
    } 
}

.logo__icon__media {
    left: 6%;
    bottom: 9%;
    height: 13px;
}

.logo__icon__footer {
    @include media-tablet {
        height: 20px;
        bottom: 20%;
    }
    @media (max-width: 390px) {
        bottom: 39%;
        left: 56.5%;
    }
}

.pets__icon__banana {
    background-image: url("../../../assets/icons/main/animals/banana-bamboo_icon.svg");
    background-position: left;
    background-repeat: no-repeat;
    width: 33px;
    height: 37px;
    @media (max-width: 768px) {
        width: 25.72px;
        height: 28.84px;
        background-size: contain;
    }
}

.pets__icon__meat {
    background-image: url("../../../assets/icons/main/animals/meet-fish_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 38px;
    @media (max-width: 768px) {
        width: 37.41px;
        height: 29.62px;
        background-size: contain;
    }
}

.pay__icon {
    background: url("../../../assets/icons/main/how\ it\ works/pay.svg") center/contain no-repeat;
    width: 108px;
    height: 60px;
}

.zoo__icon {
    background: url("../../../assets/icons/main/how\ it\ works/zoo.svg") center/contain no-repeat;
    width: 86px;
    height: 95px;
}

.monkey__icon {
    background: url("../../../assets/icons/main/how\ it\ works/monkey.svg") center/contain no-repeat;
    width: 125px;
    height: 72px;
}

.widjet__arrow {
    background: url("../../../assets/icons/main/how\ it\ works/arrow.svg") center/contain no-repeat;
    width: 70px;
    height: 35px;
    transform: translateY(60px);
    @include media-tablet {
        display: none;
    }
}

.testimonial__icon {
    background: url("../../../assets/icons/main/testimonials/user_icon.svg") center/contain no-repeat;
    width: 37px;
    height: 37px;
}

.oscar {
    background: url("../../../assets/icons/main/testimonials/oscar.svg") center/contain no-repeat;
}

.frederica {
    background: url("../../../assets/icons/main/testimonials/frederica.svg") center/contain no-repeat;
}

.mila,
.osca {
    background: url("../../../assets/icons/main/testimonials/mila.svg") center/contain no-repeat;
}

