.overlay__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    background-color: $color-scroll;
    width: 320px;
    height: 428px;
    overflow: auto;
    padding: 20px 36px 17px 17px;
    z-index: -2;
}
.modal__content {
    padding: 2px;
    border-radius: 10px;
}

.modal__close-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    svg {
        pointer-events: none;
    }
}

.testimonial__modal {
    box-sizing: border-box;
    position: relative;
    background-color: $color-testimonials-submit;
    padding: 14px 15px 19px 16px;
    border-radius: 20px;
    min-width: 23%;
    margin-top: 2px;
    &::before {
        content: '';
        position: absolute;
        background: $color-testimonials-border border-box;
        border-radius: 20px;
        border: 2px solid transparent;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        z-index: -1;
    }
}

.feedback__text__modal {
    font-size: 1.5rem;
    color: $color-disable;
    line-height: 120%;
    font-weight: 300;
    height: 309px;
    overflow: hidden;
}