.layout-3-column {
    @include grid($column: repeat(3, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    position: relative;
    margin-bottom: 80px;
    width: 100%;
    @media (max-width: 1320px) {
        grid-row-gap: 92px;
        margin-bottom: 81px;
    }
    @include media-tablet {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 57px;
    }
    @media (max-width: 432px) {
        grid-row-gap: 50px;
    }
    @media (max-width: 432px) {
        grid-template-columns: 1fr;
    }
    @include media-mobile {
        grid-row-gap: 18px;
        margin-bottom: 19px;
    }
}

.works__content {
    @include flex($align: flex-start);
    gap: 30px;
    margin-bottom: 61px;
    @include media-desktopsmall {
        margin-bottom: 70px;
    }
    @media (max-width: 768px) {
        gap: 0;
    }
    @include media-tablet {
        margin-bottom: 43px;
        justify-content: flex-start;
        gap: 43px;
        flex-wrap: wrap;
    }
    @media (max-width: 628px) {
        flex-direction: column;
        gap: 0;
        margin-bottom: 39px;
    }
}

.layout-4-column {
    @include flex($justify: flex-start, $align: flex-start);
    gap: 30px;
    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 42px;
        gap: 19px;
    }
    @media (max-width: 412px) {
        margin-bottom: 33px;
    }
}
