.layout-3-column {
    @include grid($column: repeat(3, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    position: relative;
    margin-bottom: 80px;
    @media (max-width: 1320px) {
        grid-row-gap: 92px;
    }
}

.works__content {
    @include flex($align: flex-start);
    gap: 30px;
    margin-bottom: 61px;
}

.layout-4-column {
    @include grid(repeat(4, 1fr));
    grid-column-gap: 30px;
}