.header {
    position: relative;
    padding: 14px 0;
    background: $color-black;
    width: 100%;
    z-index: 10;
    @include media-tablet {
        position: fixed;
        top: 0;
        padding: 2.3px 0 2.7px;
    }
    & .wrapper {
        @include media-tablet {
            @include flex($justify: space-between);
        }
    }
}

.menu {
    @include flex($justify: flex-start);
    gap: 5.8rem;
    margin: 0;
    padding: 0;
    @include media-desktopsmall {
        gap: 4.8rem;
    }
    @include media-tablet {
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 30px;
        margin-bottom: 15px;

    }
}

.menu__item {
    font-weight: 500;
    color: $color-text;
    cursor: pointer;
    text-decoration: none;
    @extend %transition;
    &:hover {
        background-image: $color-btn-default;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    &:active {
        color: $color-btn-hover-active;
    }
    @include media-tablet {
        color: $color-black-blue;
    }
}

.designed {
    text-decoration: none;
    text-align: right;
    font-weight: 500;
    color: $color-text;
    cursor: pointer;
    @extend %transition;
    &:hover {
        background-image: $color-btn-default;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    &:active {
        color: $color-btn-hover-active;
    }
    @include media-tablet {
        color: $color-black-blue;
    }
}

.menu__item.active {
    background-image: $color-btn-default;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}