.wrapper {
    max-width: $content-width;
    margin: auto;
    @include media-desktopsmall {
        max-width: 940px;
    }
    @include media-tablet {
        max-width: 600px;
    }
    @include media-mobile {
        max-width: 300px;
    }
}

.wrapper__header {
    @include grid();
    align-items: center;
    @include media-desktopsmall {
        @include grid($column: 0.73fr 3fr 1fr);
    }
    @include media-tablet {
        @include flex($align: flex-start, $justify: flex-start);
        flex-direction: column;
        position: fixed;
        padding: 30px 0 0 25px;
        width: 150px;
        height: 310px;
        top: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        border: none;
        right: 100%;
        visibility: hidden;
    }
    &.active {
        @include media-tablet {
            right: 0;
            visibility: visible;
        }
    }

}

.wrapper__watch-online {
    @include flex($justify: flex-end);
}

.wrapper__backstage {
    @include flex($justify: space-between, $align: flex-start);
    @include media-desktopsmall {
        align-items: center;
    }
    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.wrapper__pets {
    @include flex();
    flex-direction: column;
    position: relative;
}

.wrapper__pick-and-feed {
    @include flex();
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    background-color: $color-pick;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    padding: 41px 0 59px;
    & form {
        width: 100%;
    }
    @include media-desktopsmall {
        padding: 30px 49px 50px 48px;
    }
    @include media-tablet {
        align-items: flex-start;
        padding: 10px 20px 60px;
        max-width: 100%;
    }
    @media (max-width: 628px) {
        padding: 20px 0 40px;
        align-items: center;
    }

}

.wrapper__testimonials {
    @include media-tablet {
        @include flex();
        flex-direction: column;
    }
}

.wrapper__footer {
    @include flex($justify: space-between, $align: stretch);
    @include media-tablet {
        flex-direction: column;
    }
}