.wrapper {
    max-width: $content-width;
    margin: auto;
    // @media (max-width: 1220px) {
    //     max-width: 940px;
    // }
}

.wrapper__watch-online {
    @include flex($justify: flex-end);
}

.wrapper__backstage {
    @include flex($justify: space-between, $align: flex-start);
}

.wrapper__pets {
    @include flex();
    flex-direction: column;
}

.wrapper__pick-and-feed {
    background-color: $color-pick;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    padding: 41px 0 59px;
}
