.wrapper {
  max-width: $content-width;
  padding: 0 20px;
  margin: auto;
  @include media-tablet {
    padding: 0 15px;
  }
}

.header__wrapper {
  @include flex();
  position: relative;
}

.game__wrapper {
  @include flex($align: stretch);
  flex-direction: column;
}

.footer__wrapper {
  @include flex();
  position: relative;
}

.results__wrapper {
  @include flex();
  flex-direction: column;
}