$color-black: #000000;
$color-yellow: #FFEE2E;
$color-orange: #FE9013;
$color-black-blue: #333B41;

$color-btn-default: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-btn-hover-active: #E47209;
$color-active: #4B9200;
$color-mistake: #D31414;
$color-dark-grey: #333B41;
$color-text: #FFFFFF;
$color-disable: #767474;
$color-testimonials-submit: #F1F3F2;
$color-testimonials-border: linear-gradient(#FEBDAB 74%, #F3A9F8 66%, #E0D8F0 100%, #EAF7FE 100%, #EAF7FE 100%);
$color-pick-main: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-pick: rgba(253, 253, 255, 0.52);
$color-scroll: #F5F7F6;

$content-width: 1160px;
$small-desktop-width: 1000px;
$tablet-width: 640px;
$mobile-width: 320px;
