html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

.page {
  @include flex($align: stretch);
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: $color-background;
  @include font($size: 1.6rem);
}

li {
  list-style-type: none;
}
