@mixin flex($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin font($size, $height: $size, $weight: 300, $style: normal) {
  font-family: Neucha;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
