.header {
  position: relative;
  padding: 15px 0;
  background-color: $color-background;
}

.navigation {
  width: 45%;
  @media (max-width: 500px) {
    width: 55%;
  }
}

.menu__header {
  @include flex();
  padding: 0;
  gap: 7px;
}

.menu__link {
  color: $color-second-brand;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  &:hover,
  &:active {
    color: $color-active;
  }
  &.active {
    color: $color-brand;
  }
  @include media-tablet {
    font-size: 1.4rem;
  }
}

.score {
  font-size: 2rem;
  color: $color-second-brand;
  margin: 0;
  @include media-tablet {
    font-size: 1.4rem;
  }
}
