.congratulations {
  font-size: 8rem;
  @media (max-width: 600px) {
    font-size: 4rem;
  }
}

.congratulations__text {
  font-size: 2.5rem;
  text-align: center;
  line-height: 200%;
  & span {
    font-size: 3rem;
    color: $color-second-brand;
  }
  @media (max-width: 600px) {
    font-size: 2rem;
    & span {
      font-size: 2.5rem;
    }
  }
}


