.main {
  padding: 20px 0;
  flex: auto;
  @media (max-width: 680px) {
    padding: 0;
  }
}

.title {
  position: relative;
  margin: 0;
  color: $color-second-brand;
  font-family: "Permanent Marker";
  font-size: 9.2rem;
  line-height: 100%;
  text-align: center;
  -webkit-text-stroke: 0.7px white;
  z-index: 10;
  & span {
    color: $color-brand;
  }
  @media (max-width: 1000px) {
    margin-bottom: 20px;
    font-size: 5rem;
    line-height: 130%;
  }
  @media (max-width: 490px) {
    font-size: 4rem;
  }
}

.about {
  @include flex($justify: space-between);
  width: 100%;
  @media (max-width: 490px) {
    flex-direction: column;
  }
}

.bird {
  width: 35%;
  height: 425px;
  background: url("../../../assets/main/bird.png") center center/contain
    no-repeat;
  filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff)
    drop-shadow(0 0 20px #fff) drop-shadow(0 0 30px $color-brand)
    drop-shadow(0 0 50px $color-brand) drop-shadow(0 0 60px $color-brand);
  @media (max-width: 680px) {
    width: 90%;
    height: 350px;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff)
      drop-shadow(0 0 20px $color-brand) drop-shadow(0 0 30px $color-brand)
      drop-shadow(0 0 40px $color-brand);
  }
}

.start {
  @include flex();
  width: 50%;
  flex-direction: column;
  padding: 15px;
  @media (max-width: 660px) {
    width: 60%;
  }
}

.greeting {
  position: relative;
  margin: 0;
  font-family: Neucha;
  font-size: 2.5rem;
  line-height: 200%;
  color: $color-text;
  text-align: center;
  z-index: 10;
  & span {
    color: $color-second-brand;
  }
  @media (max-width: 1000px) {
    font-size: 2rem;
    line-height: 150%;
  }
}

.form__btn {
  width: 50%;
}

.start__btn {
  width: 100%;
  padding: 15px 0;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-family: Neucha;
  font-size: 3rem;
  cursor: pointer;
  background-color: $color-brand;
  color: $color-text;
  transition: 0.3s;
  &:hover {
    background-color: $color-second-brand;
    color: $color-background;
  }
  @media (max-width: 1000px) {
    padding: 10px 0;
    font-size: 1.6rem;
  }
}
