html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Verdana, sans-serif;
    @include font($size: 1.6rem, $height: 140%);
    color: $color-black-blue;
}

h1 {
    @include font($size: 1.9rem, $height: 120%);
    margin: 0;
    text-align: center;
}

h2 {
    @include font($size: 4.8rem, $height: 120%);
    margin: 0;
}

h3 {
    @include font($size: 3.6rem);
    margin: 0;
}

h4 {
    @include font($size: 2.4rem);
    margin: 0;
}

h5 {
    @include font($size: 1.6rem);
    margin: 0;
}

p {
    margin: 0;
}

li {
    list-style-type: none;
}