.button {
    @include button();
    text-transform: uppercase;
    background: $color-default;
    font-weight: 500;
    padding: 16px 0;
    color: $color-text;
    &:hover,
    &:focus {
        background: $color-btn-hover-active;
    }
    &:active {
        background: $color-active;
    }
    &:disabled {
        background: $color-disable;
    }
}

.submit {
    width: 129px;
    height: 42px;
    background: $color-submit;
    border: 1px solid $color-black-blue;
    color: $color-black;
    border-radius: 5px;
    &:active {
        color: $color-active;
        border: 1px solid $color-active;
    }
}

.feed {
    transform: translateX(115%);
}

.button__donate {
    margin-bottom: 44px;
    border-radius: 5px;
}