.logo__icon {
    position: absolute;
    left: 12%;
    bottom: 12%;
    @extend %transition;
    &:hover {
        fill: #F9804B;
    }
}

.x__icon {
    background: url('../../../assets/icons/donate/x_icon.svg');
    width: 14px;
    height: 14px;
    margin-right: 64px;
    transform: translateY(115%);
}

.animal__icon {
    background: url('../../../assets/icons/donate/panda.svg');
    width: 284px;
    height: 246px;
}

.dollar__icon,
.amount-icon {
    background: url('../../../assets/icons/donate/dollar.svg');
    width: 10px;
    height: 20px;
}

.dollar__icon.active {
    filter: invert(70%) sepia(42%) saturate(4204%) hue-rotate(349deg) brightness(100%)  contrast(102%);
}