.logo {
    @include flex();
    position: relative;
    border: 1px solid $color-text;
    width: 73px;
    padding: 3.55px 3.55px 0; 
    border-radius: 2px;
    text-align: center;
    @extend %transition;
    @media (max-width: 768px) {
        border: 1px solid $color-orange;
        width: 64px;
        padding: 2.5px; 
    }
}

.logo__link {
    text-decoration: none;
    font-weight: 400;
    color: $color-text;
    margin: 0;
    @extend %transition;
    & h1 {
        font-size: 1.9rem;
        line-height: 120%;
        @media (max-width: 768px) {
            font-size: 1.52rem;
        }
    }
}

.logo__media {
    display: none;
    @media (max-width: 768px) {
        display: inline-block;
        border: none;
        padding: 0; 
        width: 47px;
        height: 29px;
    }
}

.logo__media__link {
    text-decoration: none;
}
.logo__text {
    @media (max-width: 768px) {
        font-size: 1.23rem;
        color: $color-text;
        font-weight: 400;
        line-height: 1.3em;
    }
}

.logo__header__menu {
    @media (max-width: 768px) {
        color: $color-orange;
    }
    & .logo__icon {
        @media (max-width: 768px) {
            filter: invert(66%) sepia(52%) saturate(3040%) hue-rotate(351deg) brightness(203%) contrast(98%);
        }
    }
}