.logo {
    @include flex();
    position: relative;
    border: 1px solid $color-text;
    width: 73px;
    padding: 3.55px 3.55px 0; 
    border-radius: 2px;
    text-align: center;
    @extend %transition;
    @include media-tablet {
        width: 65px;
        border: 1px solid $color-orange;
        padding: 3.5px 2.5px; 
    }
}

.logo__link {
    text-decoration: none;
    font-weight: 400;
    color: $color-text;
    margin: 0;
    @extend %transition;
    & h1 {
        font-size: 1.9rem;
        line-height: 120%;
        @include media-tablet {
            font-size: 1.52rem;
        }
    }
    & p {
        font-size: 1.9rem;
        line-height: 120%;
    }
}

.logo__text {
    @include media-tablet {
        font-size: 1.23rem;
        color: $color-text;
        font-weight: 400;
        line-height: 1.3em;
    }
}

.logo__media {
    display: none;
    @include media-tablet {
        display: inline-block;
        border: none;
        padding: 0; 
        width: 47px;
        height: 29px;
    }
}

.logo__media__link {
    text-decoration: none;
}



.logo__header__menu {
    @include media-tablet {
        color: $color-orange;
    }
    & .logo__icon {
        @include media-tablet {
            filter: invert(66%) sepia(52%) saturate(3040%) hue-rotate(351deg) brightness(203%) contrast(98%);
        }
    }
}

.logo__footer {
    border: 1px solid $color-text;
    @include media-tablet {
        padding: 0.54px 4.75px 6px;
        width: 72px;
        grid-row-start: 1;
        grid-column-start: 1;
    }
    @media (max-width: 412px) {
        border: none;
        width: 128px;
        height: 23px;
        padding: 0;
        order: -2;
        margin-bottom: 30px;
    }
}