$color-brand: #11bca2;
$color-second-brand: rgb(244, 241, 43);
$color-text: rgb(236, 233, 233);
$color-background: rgb(0, 0, 0);
$color-blocks: #444;
$color-button: rgb(15, 117, 4);
$color-active: rgb(48, 176, 110);
$color-mistake: #a31808;
$color-right: #3fa520;
$color-border: #2a946b;

$content-width: 1840px;
$tablet-width: 768px;
$mobile-width: 360px;
