.backstage {
    padding: 141px 0 174px;
    background: url('../../../assets/images/main/flower_foto1_bg.png') right top 12px no-repeat;
    @media (max-width: 1440px) {
        background: none;
    }
    @include media-desktopsmall {
        padding: 100px 0 141px;
    }
}

.backstage__content {
    padding-left: 8.6rem;
    @media (max-width: 1220px) {
        padding-left: 3.1rem;
    }
}

.backstage__title {
    margin-bottom: 20px;
}

.backstage__subtitle {
    margin: 55px 0 35px;
}