.backstage {
    padding: 141px 0 177px;
    background: url('../../../assets/images/main/flower_foto1_bg.png') right top 12px no-repeat;
}

.backstage_img {
    max-width: 52.5%;
}

.backstage__content {
    padding-left: 8.6rem;
}

.backstage__title {
    margin-bottom: 20px;
}

.backstage__subtitle {
    margin: 55px 0 35px;
}