.pets {
    padding-bottom: 100px;
    background: url('../../../assets/images/main/palm_foto_bg.png') bottom left no-repeat,
    url('../../../assets/images/main/strelitzia_bg.png') bottom right no-repeat;
}

.pets__block {
    position: relative;
    overflow: hidden;
    border: 1.2px solid transparent;
    background: $color-btn-default;
    border-radius: 5px;
}

.pets-banana__content {
    @include flex($justify: space-between);
    padding: 8px 12px 11px 14.5px;
    color: $color-black;
    transform: translateY(0);
    transition: transform .5s linear;
    background-color: $color-text;
}

.pets-meat__content {
    @include flex($justify: space-between);
    padding: 8px 8px 11px 14px;
    color: $color-black;
    transform: translateY(0);   
    transition: transform .5s linear;
    background-color: $color-text;

}

.pets__name {
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 140%;
}

.pets__country {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
}

.pet__img {
    display: block;
    margin: 0;
    object-fit: contain;
    width: 100%;
    transition: transform .5s ease;
    &:hover {
        transform: scale(1.06);
        filter: brightness(60%);
        & ~ .pets__content {
            justify-content: center;
            transform: translateY(-90%);
            color: $color-text;
            text-align: center;
            background-color: transparent;
            & .pets__icon {
                display: none;
            }
        }
    }
}

.arrow__left,
.arrow__right {
    @include flex();
    position: absolute;
    background: $color-btn-default;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    top: calc(50% - 33px);
    z-index: 1;
    cursor: pointer;
    &:hover {
        background: $color-btn-hover-active;
    }
    &:active {
        background: $color-active
    }
}

.arrow__left {
    left: -82px;
}

.arrow__right {
    right: -82px;
}

.arrow {
    color: $color-text;
    font-size: 1.8rem;
    z-index: 2;
}