.testimonials {
    padding: 146px 0 181px;
    background: url("../../../assets/images/main/leav_foto.png") bottom -26% right no-repeat;
    @include media-desktopsmall {
        padding: 105px 0 140px;
        background-size: 200px 328px;
        background-position: bottom -17% right;
    }
    @include media-tablet {
        padding: 65px 0 79px;
        background-size: 120px 201px;
        background-position: bottom -14% right -1%;
    }
    @media (max-width: 412px) {
        padding: 28px 0 60px;
        background-size: 67px 105px;
        background-position: bottom -8% right -1%;
    }
}

.testimonials__title {
    text-align: center;
    margin-bottom: 53px;
    @include media-desktopsmall {
        margin-bottom: 37px;
    }
    @media (max-width: 412px) {
        font-size: 2.4rem;
        margin-bottom: 18px;
    }
}

.testimonial {
    box-sizing: border-box;
    position: relative;
    background-color: $color-testimonials-submit;
    padding: 14px 14px 19px 16px;
    border-radius: 20px;
    width: 268px;
    height: 389px;
    margin-bottom: 24px;
    &::before {
        content: '';
        position: absolute;
        background: $color-testimonials-border border-box;
        height: 391px;
        border-radius: 20px;
        border: 2px solid transparent;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        z-index: -1;
        @media (max-width: 900px) {
            height: 180px;
        }
        @include media-tablet {
            height: 109px;
        }
    }
    &:nth-child(3) {
        display: none;
        @include media-desktopsmall {
            display: block;
        }
    }
    &:nth-child(2),
    &:nth-child(5) {
        @include media-desktopsmall {
            display: none;
        }
    }
    @include media-desktopsmall {
        width: 293px;
        margin-bottom: 23px;
        padding: 14px 27px 19px 16px;
    }
    @media (max-width: 900px) {
        width: 99%;
        height: 180px;
    }
    @include media-tablet {
        width: 100%;
        height: 109px;
        padding: 14px 17px 6px 12px;
        margin-bottom: 0;
    }
    @media (max-width: 600px) {
        width: 99%;
    }
    @include media-mobile {
        height: 109px;
        padding: 8px 27px 0 12px;
    }
}

.user {
    @include flex($justify: flex-start, $align: flex-start);
    gap: 10px;
    margin-bottom: 10px;
}

.user-name {
    justify-content: center;
}

.name {
    color: $color-black;
    line-height: 120%;
    font-weight: 500;
}

.location {
    color: $color-testimonials-text;
    line-height: 120%;
    letter-spacing: -0.04em;
    & span {
        margin: 0 2px 0 5px;
        @include media-tablet {
            margin: 0 1px 0 1px;
        }
    }
}

.feedback__text {
    font-size: 1.5rem;
    color: $color-disable;
    line-height: 120%;
    font-weight: 300;
    height: 309px;
    overflow: hidden;
    @media (max-width: 900px) {
        height: 107px;
    }
    @include media-tablet {
        height: 33px;
        padding-left: 6px;
    }
}

.scroll {
    @include flex();
    @include media-tablet {
        display: none;
    }
}

input[type="range"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 51.5%;
    height: 6px;
    border-radius: 5px;
    background-color: $color-scroll;
    margin-bottom: 30px;
    &::before {
        content: '';
        position: absolute;
        background: $color-testimonials-border border-box;
        border-radius: 5px;
        border: 1px solid transparent;
        top: -1px;
        right: -1.2px;
        bottom: -1.2px;
        left: -1.2px;
        z-index: -1;
    }
    @include media-desktopsmall {
        width: 41.5%;
        margin-left: -6px;
        margin-bottom: 53px;
    }
}

input[type="range"]::-moz-range-track {
    position: relative;
    -moz-appearance: none;
    width: 100%;
    border-radius: 5px;
    height: 6px;
    border: 1px solid transparent;
    -moz-border-image: $color-testimonials-border;
    border-image-slice: 1;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 19%;
    height: 6px;
    background-color: $color-orange;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 19%;
    height: 6px;
    background-color: $color-orange;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

