.background {
    background: url('../../../assets/images/main/Panda.jpg') center/cover no-repeat;
}

.watch-online {
    padding: 86px 0 100px;
    @include media-desktopsmall {
        padding: 43px 85px 47px 0;
    }
}

.watch-online__content {
    @include flex();
    flex-direction: column;
    max-width: 500px;
    @include media-desktopsmall {
        max-width: 400px;
    } 
}

.watch-online__title {
    position: relative;
    margin: 0;
    max-width: 500px;
    font-weight: 700;
    font-size: 10.65rem;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: $color-text;
    z-index: 1;
    & span {
        color: $color-yellow;
    }
    &::before {
        content: '';
        position: absolute;
        width: 93%;
        height: 116.25%;
        border-radius: 50%;
        background: $color-btn-default;
        z-index: -1;
        bottom: 10px;
        left: -14.5%;
        @include media-desktopsmall {
            width: 367px;
            height: 367px;
            bottom: 5px;
        }
    }
    @include media-desktopsmall {
        font-size: 8.5rem;
    }
}