.footer {
    padding: 40px 0 50px 0;
    background-color: $color-footer;
    @include media-desktopsmall {
        padding: 40px 0 50px;
    }
    @include media-tablet {
        padding: 12px 0;
    }
    @media (max-width: 390px) {
        padding: 20px 0;
    }
}

.media-logo {
    @include flex($justify: space-between, $align: flex-start);
    flex-direction: column;
    @include media-tablet {
        display: grid;
    }
    @media (max-width: 412px) {
        @include flex();
    }
}

.media {
    padding-left: 0;
    margin: 0;
    & li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include media-tablet {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    @media (max-width: 412px) {
        @include flex($align: flex-start);
        order: -1;
        gap: 30px;
    }
}

.media__item {
    @include flex($justify: flex-start);
    color: $color-text;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: $color-active;
        & .media__icon {
            background-color: $color-active;
        }
    }
    &:active {
        color: $color-active;
        & .media__icon {
            background-color: $color-active;
        }
    }
    @include media-tablet {
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    @media (max-width: 412px) {
        margin: 0;
    }
}

.media__icon {
    @include flex();
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: rgba(196, 196, 196, 0.5);
    margin-right: 12px;
    @include media-tablet {
        margin-right: 0;
    }
}

.media__name {
    @include media-tablet {
        display: none;
    }
}

.subscribe__navigation {
    @include flex($justify: space-between, $align: flex-end);
    flex-direction: column;
    width: 65.6%;
    @include media-desktopsmall {
        width: 67.6%;
    }
    @media (max-width: 768px) {
        width: 55%;
        transform: translateX(-20px);
    }
    @include media-tablet {
        width: 100%;
        transform: translateX(0);
        margin-top: 22px;
    }
}

.subscribe {
    @include flex($align: flex-start);
    flex-direction: column;
    @include media-desktopsmall {
        margin-right: 32px;
    }
    @media (max-width: 768px) {
        margin-right: 0;
    }
    @include media-tablet {
        display: none;
    }
}

.subscribe_text {
    font-size: 2.4rem;
    line-height: 120%;
    color: $color-text;
    margin: 0 0 14px 0;
}

#submit-email {
    box-sizing: border-box;
    appearance: none;
    width: 228px;
    height: 42px;
    background-color: $color-footer;
    border-radius: 2px;
    border-image-source: $color-default;
    border-image-slice: 1;
    border-width: 1px;
    margin-right: 6px;
    color: $color-text;
    padding-left: 10px;
    &::placeholder {
        color: $color-placeholder;
    }
    &:active {
        color: $color-active;
        border: 1px solid $color-active;
        & ~ .submit {
            color: $color-active;
            border: 1px solid $color-active;
        }
    }
    &:invalid {
        color: $color-mistake;
        border: 1px solid $color-mistake;
        & ~ .submit { 
            color: $color-mistake;
            border: 1px solid $color-mistake;  
        }

    }
    @media (max-width: 768px) {
        width: 55%;
    }
}

.menu-author {
    @include flex($justify: space-between, $align: flex-end);
    width: 100%;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
    @include media-tablet {
        flex-wrap: nowrap;
    }
    @media (max-width: 412px) {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 5px;
    }
}

.menu__footer {
    flex-wrap: wrap;
    @include media-tablet {
        flex-direction: row;
        gap: 36px;
        margin: 0;
    }
    @include media-mobile {
        gap: 30px;
    }
}

.menu__item__footer {
    @include media-tablet {
        color: $color-text;
    }
}

.designed__footer,
.rss {
    display: block;
    font-weight: 100;
    color: $color-text;
    text-decoration: none;
    &:active {
        color: $color-active;
        text-decoration: underline;
    }
    @media (max-width: 412px) {
        font-size: 1.5rem;
    }
}

.designed__footer {
    margin-bottom: 8px;
}

.designed__rss {
    @media (max-width: 412px) {
        align-self: flex-end;
        margin-bottom: 30px;
    }
}