.footer {
    padding: 40px 0 50px 0;
    background-color: $color-footer;
    @include media-desktopsmall {
        padding: 40px 0 50px;
    }
}

.subscribe-logo {
    @include flex($justify: space-between, $align: flex-start);
    margin-bottom: 36px;
}

.subscribe {
    @include flex($align: flex-start);
    flex-direction: column;
    @include media-desktopsmall {
        margin-right: 32px;
    }
}

.subscribe_text {
    font-size: 2.4rem;
    line-height: 120%;
    color: $color-text;
    margin: 0 0 14px 0;
}

#submit-email {
    box-sizing: border-box;
    appearance: none;
    width: 228px;
    height: 42px;
    background-color: $color-footer;
    border-radius: 2px;
    border-image-source: $color-default;
    border-image-slice: 1;
    border-width: 1px;
    margin-right: 6px;
    color: $color-text;
    padding-left: 10px;
    &::placeholder {
        color: $color-placeholder;
    }
    &:active {
        color: $color-active;
        border: 1px solid $color-active;
        & ~ .submit {
            color: $color-active;
            border: 1px solid $color-active;
        }
    }
    &:invalid {
        color: $color-mistake;
        border: 1px solid $color-mistake;
        & ~ .submit { 
            color: $color-mistake;
            border: 1px solid $color-mistake;  
        }

    }
}

.media__navigation {
    @include flex($justify: space-between, $align: flex-end);
}

.media {
    padding-left: 0;
    margin: 0;
    & li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.media__item {
    @include flex($justify: flex-start);
    color: $color-text;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: $color-active;
        & .media__icon {
            background-color: $color-active;
        }
    }
    &:active {
        color: $color-active;
        & .media__icon {
            background-color: $color-active;
        }
    }
}

.media__icon {
    @include flex();
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: rgba(196, 196, 196, 0.5);
    margin-right: 12px;
}

.menu__footer {
    padding-left: 40px;
    @include media-desktopsmall {
        padding-left: 13px;
    }
}

.menu-author {
    @include flex($justify: space-between, $align: flex-end);
    width: 69%;
}

.designed__footer,
.rss {
    display: block;
    font-weight: 100;
    color: $color-text;
    text-decoration: none;
    &:active {
        color: $color-active;
        text-decoration: underline;
    }
}

.designed__footer {
    margin-bottom: 8px;
}