.header {
    position: relative;
    padding: 14px 0;
    background: $color-black;
    z-index: 10;
}

.menu {
    @include flex($justify: flex-start);
    gap: 5.8rem;
    margin: 0;
    padding: 0;
    @include media-desktopsmall {
        gap: 4.8rem;
    }
}

.menu__item {
    font-weight: 500;
    color: $color-text;
    cursor: pointer;
    text-decoration: none;
    @extend %transition;
    &:hover {
        background-image: $color-default;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    &:active {
        color: $color-btn-hover-active;
    }
}

.designed {
    text-decoration: none;
    text-align: right;
    font-weight: 500;
    color: $color-text;
    cursor: pointer;
    @extend %transition;
    &:hover {
        background-image: $color-default;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    &:active {
        color: $color-btn-hover-active;
    }
}

.menu__item.active {
    background-image: $color-default;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}