.wrapper {
    max-width: $content-width;
    margin: auto;
    @media (max-width: 1220px) {
        max-width: 940px;
    }
    @include media-tablet {
        max-width: 600px;
    }
}

.wrapper__header {
    @include grid();
    align-items: center;
    transition: transform .4s ease;
    @include media-desktopsmall {
        @include grid($column: 0.73fr 3fr 1fr);
    }
    @include media-tablet {
        @include flex($align: flex-start, $justify: flex-start);
        flex-direction: column;
        position: fixed;
        padding: 40px 0 0 30px;
        width: 30%;
        height: 310px;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 15px;
        border: none;
        right: 100%;
        visibility: hidden;
    }
    &.active {
        @include media-tablet {
            right: 0;
            visibility: visible;
        }
    }
}

.wrapper__pick-and-feed {
    @include flex();
    flex-direction: column;
    background-color: $color-pick;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    padding: 39px 92px 62px;
    @media (max-width: 1220px) {
        padding: 20px 65px 47px;
    }
    @include media-tablet {
        padding: 30px 0 31px;
    }
}

.wrapper__footer {
    @include flex($justify: space-between, $align: stretch);
    @include media-tablet {
        flex-direction: column;
    }
}