html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

.page {
  @include flex($align: stretch);
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: $color-background;
  @include font($size: 1.6rem);
  color: $color-text;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

input {
  appearance: none;
}


button {
  border: 0;
}
