.next-level {
  width: 100%;
  padding: 15px 0;
  background-color: $color-brand;
  color: $color-text;
  border-radius: 15px;
  font-family: Neucha;
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
  &:hover,
  &:active {
    background: $color-active;
  }
  &:disabled {
    background-color: $color-blocks;
  }
  @include media-tablet {
    padding: 10px 0;
    font-size: 1.5rem;
  }
}
